*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b,#111827);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:90%;
    max-width:420px;
    background:#1f2937;
    color:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 25px rgba(0,0,0,.4);
}

h1{
    color:#38bdf8;
    margin-bottom:20px;
}

.info p{
    margin:8px 0;
    font-size:18px;
}

#timer{
    font-size:22px;
    color:#FFD700;
    font-weight:bold;
    margin:10px 0;
}

#coins{
    color:#00ff7f;
    font-weight:bold;
}

#guessInput{
    width:100%;
    padding:14px;
    margin-top:20px;
    border:none;
    border-radius:10px;
    font-size:20px;
    text-align:center;
}

button{
    width:100%;
    padding:14px;
    margin-top:12px;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
    transition:.25s;
}

#guessBtn{
    background:#22c55e;
    color:white;
}

#restartBtn{
    background:#ef4444;
    color:white;
}

#hintBtn{
    background:#3b82f6;
    color:white;
}

#shopBtn{
    background:#f59e0b;
    color:white;
}

button:hover{
    transform:scale(1.03);
}

#message{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
    color:#facc15;
}

#winner{
    margin-top:20px;
    background:#15803d;
    padding:15px;
    border-radius:12px;
}

/* SHOP POPUP */

#shopOverlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.75);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:999;
}

#shop{
    width:90%;
    max-width:350px;

    background:#1f2937;

    padding:20px;

    border-radius:18px;

    box-shadow:0 0 25px rgba(0,0,0,.5);

    animation:popup .25s ease;
}

#shop h2{
    margin-bottom:15px;
}

#shop button{
    margin:10px 0;
}

@keyframes popup{

    from{
        transform:scale(.7);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }

}
